<!DOCTYPE html>
<html>
<head>
  <title>Online shop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Online Shop" %>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to "Home", store_path %></li>
				<li><%= link_to "Моя корзина", cart_path(current_cart) %></li>
					<div id="cart">
						<% if @cart %>
							<% hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
								<%= render @cart %>
							<% end %>
						<% end %>
					</div>
			</ul>
			<div id="time"><%= time %></div>
		</div>

		<div id="main">
			<% if session[:counter] != nil %>
				<%= pluralize(session[:counter], 'count') %>
			<% end %>
			<%= yield %>
		</div>
	</div>
</body>
</html>
