<!DOCTYPE html>
<html>
<head>
  <title>Online shop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Online Shop" %>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to "Home", store_path %></li>
				<li><%= link_to "Products", products_path %></li>
			</ul>

			<div id="time"><%= time %></div>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
